@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "montserrat";
  src: url('/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: "clash display";
  src: url("/fonts/ClashDisplay-Regular.otf");
}

@font-face {
  font-family: "unica one";
  src: url("/fonts/UnicaOne-Regular.ttf");
}