@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 0px;
  background-color: transparent; 
}

@layer utilities {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply box-border w-full h-full m-0 p-0 overflow-x-hidden;
  }
}

@font-face {
  font-family: "montserrat";
  src: url('/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: "clash display";
  src: url("/fonts/ClashDisplay-Regular.otf");
}

@font-face {
  font-family: "unica one";
  src: url("/fonts/UnicaOne-Regular.ttf");
}